@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Popins', sans-serif;
    scroll-behavior: smooth;
}
section{
    padding: 50px;
}

.banner {
    position: relative;
    min-height: 100vh;
    background: url(images/2927262.jpg);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner h2 {
    font-size: 3em;
    color: #fff;
    font-weight: 500;
    line-height: 1.5em;
}

.banner h2 span {
    font-size: 1.5em;
    font-weight: 700px;    
}

.banner h3 {
    font-size: 1.5em;
    color: #fff;
    font-weight: 500;
}

.btn{
    position: relative;
    background: #2196f3;
    display: inline-block;
    color: #fff;
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.5s;
}

header.sticky {
    background: #fff;
    padding: 20px 100px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1)
}

header .logo {
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 700;
}

header.sticky .logo{
 color: #111;
}

header ul {
    position: relative;
    display:flex;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a{
    position:relative;
    display: inline-block;
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
}

header.sticky ul li a{
    color: #111;
}
/* About Me Section */

.heading {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    color: #111;
}

.heading h2 {
    font-weight: 600;
    font-size: 30px;
}

.content {
    display: flex;
    justify-content: space-between;
}
.contentBx{
    padding-right: 30px;
}

.contentBx h3 {
 font-size: 24px;
 margin-bottom: 20px;
}

.w50{
    min-width: 50%;
}

img {
    max-width: 100%;
}

/* Skills section */

.skills {
    background: #111;
}

.heading.white {
    color: #fff;
}

.skills .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.skills .content .skillBx {
    padding: 40px 20px;
    background: #222;
    color: #fff;
    max-width: 340px;
    margin: 20px;
    text-align: center;
    transition: 0.5s;
}

.skills .content .skillBx:hover {
    background: #2196f3;
}

.skills .content .skillBx img {
    max-width: 80px;
    filter: invert(1);
}

/* Contact Section */

.formBx{
    min-width: 60%;
}

.formBx form {
    display: flex;
    flex-direction: column;
}

.formBx form h3,
.contactInfo h3 
{
    color: black;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.formBx form input,
.formBx form textarea
 {
    margin-top: 20px;
    padding: 15px;
    font-size: 16px;
    background: #222;
    border: none;
    outline: none;
    color: #fff;
    resize: none;
}

.formBx form textarea{
    min-height: 200px;
}

.formBx form textarea::placeholder,
.formBx form input::placeholder
{
    color:#999;
}

.formBx form input[type="submit"]{
    max-width: 100px;
    background-color: #2196f3;
    cursor:pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.contactInfo{
    min-width: 40%;
}

.contactInfoBx{
    position: relative;
}

.contactInfoBx .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}

.contactInfoBx .box .icon {
    min-width: 40px;
    padding-top: 4px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 24px;
}


.contactInfoBx .box .text{
    display: flex;
    margin-left: 20px;
    font-weight: 16px;
    flex-direction: column;
    font-weight: 300;
}

.contactInfoBx .box .text h3 {
    font-weight: 500;
    margin-bottom: 0;
    color: #2196f3;
}

.copyright {
    background: #000;
    color: #fff;
    text-align: center;
    padding: 10px;
}